/* Контент в 100% */
@media screen and (max-width: 900px) {
    .fullscreen {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .fullscreen__controls {
        top: calc(var(--gap-small) + var(--gap-small));
        right: calc(var(--gap-small) + var(--gap-small));
        transform: translate(0, 0);
    }

    .fullscreen__controls button {
        border: 1px solid #ffffff;
    }

    /* Блок удерживающий картинку по центру */
    .fullscreen__image-wrapper {
        height: 100%;
        margin: 160px 0;
    }

    .fullscreen__image-wrapper img {
        max-width: calc(100% - var(--gap-small) - var(--gap-small));
    }
}